@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color:#FFFFFF;
    
    
    margin: 0px;
}

h1 { 
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    padding-left: 50px;
}

img {
    max-width: 100%;
}
a, p {
    font-family: 'Red Hat Text', sans-serif;
    
}

video{
    max-height: 80%, auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.text {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.paragraph {
    text-align: left;   
}

.piece-name {
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    text-decoration: none;
    float: left;   
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-size: 6vw;
    padding-left: 10px;
    padding-bottom: 0px;
}

@media screen and (min-width: 800px) {
  #title {
    font-size: 48px;
  }
}

@media screen and (max-width: 400px) {
  #title {
    font-size: 24px;
  }
}

#title:link, #title:visited {
    color: black;
}
#title:hover, #title:active { 
    color: darkgray;
    
}

.pagelink {
    text-decoration: none;
    color: black;
    padding-left: 0px;
}

.pagelink:link, .pagelink:visited {
    color: black;
}
.pagelink:hover, .pagelink:active {
    color: darkgray;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}



header {
    width: 100%;
    min-height: 70px;
    float:left;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0px;
    background-color: white;
    margin: 0px;

}

#nav {
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
    margin-right: 50px;
    margin-top: 10px;
}
.nav-item {
    display: inline-block;
    margin-left:20px;
    float: left;
}


#projects-dropdown {
    margin-top: 0px;
    min-width: 210px;
    width: auto;
    font-size: 14px;
    line-height: 2;

}
.item  { 
    display: block;
}


.dropdown {
    position: relative;
    
}

.drop-content {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, .9);
    padding-top: 5px;

}

.dropdown:hover .drop-content {
    display: block
}

.page-content {
    margin-top: 80px;
    clear: both;
    float: none;
    padding: 5px;
    display: block;
    text-align: center;
}

.pic {
    max-height: 800px;
    max-width: 97%;
    height:auto;
}

.small-pic {
    max-height: 400px;
}

.smaller-pic {
    max-height: 300px;
}

.large-pic {
    max-height: 1500px;
    max-width: 100%;
}

.tall-pic {
    max-height: 800px;
}


.thumbbox {
    position: relative;
    max-width: 500px;
    height: 300px;
    width: 90%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 5px;
    align-content: center;
    align-self: center;
    
}

.frontstack {
    position:absolute;
    z-index: 1;
}

.backstack {
    position: absolute;
    z-index: auto;
}

.thumbimage {
    position: absolute;
    max-width: 500px;
    width: auto;
    margin: 0px;
    padding: 0px;
}

.thumbimage:hover {
    
}

.thumbhover {
    opacity: 1.0;
    -webkit-transition: opacity 0.4s; /* Safari */
    transition: opacity 0.4s, box-shadow 0.4s;
}

.thumbhover:hover {
    opacity: 0.3;
    box-shadow: 3px 3px 5px black;
}



.scrollblock{
    margin-bottom: 30px;
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.twoblock {
    display: contents;
}

.scrollimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;

}

.scrollname {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.vid-wrapper {
    position:relative;
    width: 100%;
    padding-bottom: 56%;
}

.scrollvid {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    width: 100%;
}



footer {
    text-align: center;
    display:block;
    clear: both;
    font-size: 12px;

}

.hover_text { 
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

@media (max-width: 1800px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}



}
